@font-face {
  font-family: NunitoSans-Bold;
  src: url("../fonts/NunitoSans-Bold.ttf");
}
.NunitoSans-Bold{
  font-family: NunitoSans-Bold;
}
@font-face {
  font-family: NunitoSans-SemiBold;
  src: url("../fonts/NunitoSans-SemiBold.ttf");
}
@font-face {
  font-family: NunitoSans-Regular;
  src: url("../fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: NunitoSans-ExtraBold;
  src: url("../fonts/NunitoSans-ExtraBold.ttf");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #4d4e50;
  font-family: NunitoSans-SemiBold;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  text-decoration: none;
  list-style: none;
}
p {
  margin-bottom: 0px;
  font-family: NunitoSans-Regular;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: NunitoSans-Bold;
  margin-bottom: 0px;
}
a,
.transition,
input[type="submit"],
.line,
header,
.nav-item svg,
.nav-item p {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
a {
  color: #ef9857;
  cursor: pointer;
}
input[type="submit"] {
  backface-visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
textarea,
input,
select {
  border-radius: 0;
  resize: none;
  box-sizing: border-box;
}
table,
tr,
td,
th {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
}
.preloader,
.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  background: url("../images/loader.svg") no-repeat scroll center center #fff;
}
.loader {
  opacity: 0.4;
  display: none;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f5f6fa;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
*::-moz-selection {
  background: transparent;
}
*::selection {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(101,104,228,.1);
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6868E4;
}
.noheader header {
  display: none;
}
.btn {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 10px;
}
.btn:hover {
  color: #fff;
}
.btn-gradient {
  background: linear-gradient(to right, #f5d494, #ef9857);
}
.card {
  border: none;
  border-radius: 25px;
  padding: 10px;
}
.card-header,
.card-footer {
  background-color: #fff;
  border: none;
}
.noheader .card-header {
  padding: 50px 0 0 0;
}
.noheader .card-header img{
  margin-bottom: 25px;
}
.card-header-title {
  padding: 1.25rem;
}

.card-header:first-child {
  border-radius: 25px 25px 0 0;
}
.card-footer:last-child {
  border-radius: 0 0 25px 25px;
  padding-bottom: 20px;
}
.card-body h4 {
  margin-bottom: 30px;
}
.form-control {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #606060;
  padding: 0px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ef9857;
}
.cust-link {
  color: #ef9857 !important;
}
.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1.5px solid #4d4e50;
  border-radius: 5px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-wrap .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #4d4e50;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.forgot-password {
  font-size: 14px;
}
.google-btn {
  background: linear-gradient(to right, #8e8fee, #6868e4);
  color: #fff;
  margin-bottom: 30px;
}
.google-btn img {
  position: absolute;
  left: 2.5px;
  top: 3px;
  height: 40px;
}

.checkbox-container {
  background: #f5f6fa;
  border: 1px solid #D5D5D5;
}
.checkbox-container.checkbox-wrap {
  padding: 15px;
  /* padding-left: 45px; */
  border-radius: 10px;
}
.checkbox-container .checkmark {
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}

.checkbox-container.checked {
  background: linear-gradient(#ffbbb8 0%, #e07a7a 100%);
  border: 1px solid #fff;
}

.checkbox-container.checked p,
.checkbox-container.checked h5 {
  color: #fff;
}

.checkbox-wrap.checkbox-container.checked .checkmark:after,
.checkbox-wrap.checkbox-container.checked .checkmark {
  border-color: #fff;
}

.course-title {
  /* text-transform: uppercase; */
  margin:0;
  margin-left: 30px;
}
select.form-control {
  background-image: url("../images/icons/down.svg");
  background-position: 98% center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.sign-up-process2,.sign-up-process3,.sign-up-process4,.tabStudy2,.selectcoursedays ,.selectcoursedays2,.selectstudydays,.selectstudydays2{
  display: none;
}
.selectcoursedays p{
  font-family: NunitoSans-SemiBold;
  margin-bottom: 20px;
}
.card-body-head {
  padding-bottom: 10px;
}
.card-body-head h4,
.card-body-head p {
  margin-bottom: 8px;
  color: #565656;
}
.text-custom-secondary {
  color: #e07a7a;
}
.text-custom-blue{
  color: #6868E4;
}
.btn-next {
  color: #e07a7a;
}
.btn-next:hover {
  text-decoration: none;
  color: #e07a7a;
}
.btn-next img {
  padding-left: 8px;
}
.tab-wrapper {
  display: flex;
  position: relative;
}

.tab-header {
  padding: 10px 40px 10px 0px;
  cursor: pointer;
  border-bottom: 2px solid rgba(104, 104, 228, 0.2);
}
.tab-header:not(:last-child) {
  margin-right: 15px;
}
.tab-header h5 {
  margin-bottom: 0px;
  opacity: 0.5;
}
.tab-header.active {
  border-bottom: 2px solid #e07a7a;
}
.tab-header.active h5 {
  opacity: 1;
}

.tab-header-checked {
  background-image: url("../images/icons/checked.svg");
  background-repeat: no-repeat;
  background-position: center right;
}
/* .btn-prev {
  padding: 10px;
  position: absolute;
  top: 0px;
  left: -35px;
} */

.tab-wrapper-study {
  margin-bottom: 30px;
  border-color: #7551e9;
}
.option-button {
  display: none;
}
.option-line-button {
  border-radius: 4px;
  background: transparent;
  border: 1.5px solid #6868e4;
  color: #6868e4;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 10px 25px;
  cursor: pointer;
}

.option-button:checked + .option-line-button {
  background: linear-gradient(#8e8fee 0%, #6868e4 100%);
  color: #fff;
}

.option-flat-button {
  border-radius: 4px;
  background: #f5f6fa;
  border: 1.5px solid #d5d5d5;
  color: #261718;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.option-button:checked + .option-flat-button {
  background: linear-gradient(#8e8fee 0%, #6868e4 100%);
  color: #fff;
  border: 1.5px solid #6868e4;
}
header {
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04);
  z-index: 99;
}

.searchbox {
  padding: 0 10px 0 50px;
  border-radius: 20px;
  border: 0.6px solid #d5d5d5;
  background: url("../images/icons/search.svg") no-repeat scroll 20px center
    #f5f6fa;
}
.notification-count {
  color: #fff;
  background: #b1421b;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0px;
  line-height: 20px;
  font-size: 12px;
}
.sidebar{
  width: 225px;
  z-index: 99;
}
.content-wrapper{
  width:calc(100% - 225px);
  float: right;
  padding: 30px;
  margin-top: 75px;
}
aside ul li {
  margin: 5px 0;
  cursor: pointer;
}
aside .navbar-nav a.nav-link {
  display: block;
  padding: 10px 20px;
}
.nav-item svg {
  height: 18px;
  width: 18px;
  margin-right: 15px;
  fill: #606060;
}
.active-link {
  background-color: #ea7f11;
  border-radius: 0px 12px 12px 0px;
  position: relative;
}
.nav-link-orange.active-link{
  background: linear-gradient(to right, #F5D494, #EF9857);
}
.nav-link-blue.active-link{
  background: linear-gradient(to right, #8E8FEE, #6868E4);
}
.nav-link-red.active-link{
  background: linear-gradient(to right, #FFBBB8, #E07A7A);
}
.nav-link-green.active-link{
  background: linear-gradient(to right, #C5E6E0, #7EBFBA);
}
.active-link p {
  color: #fff;
}

.nav-item.nav-link-orange svg{
  fill: url("#linear-gradient-home");
}
.nav-item.nav-link-blue svg{
  fill: url("#linear-gradient-topics");
}
.nav-item.nav-link-red svg{
  fill: url("#linear-gradient-classes");
}
.nav-item.nav-link-green svg{
  fill: url("#linear-gradient-pratical");
}
.active-link svg, .active-link.nav-link-orange svg,.active-link.nav-link-blue svg, .active-link.nav-link-red svg, .active-link.nav-link-green svg {
  fill: #fff;
}
.active-link:before {
  position: absolute;
  content: "";
  left: -34px;
  top: 0;
  height: 100%;
  width: 8px;
  background-color: #ea7f11;
  border-radius: 5px;
}
aside {
  left: 0;
  top: 60px;
  height: calc(100% - 60px);
  overflow: auto;
  background-color: #fff;
}
aside ul li:hover p {
  color: #ea7f11;
}
aside ul li.nav-link-orange:hover p {
  color: #ea7f11;
}
aside ul li.nav-link-blue:hover p {
  color: #6868e4;
}
aside ul li.nav-link-red:hover p {
  color: #e07a7a;
}
aside ul li.nav-link-green:hover p {
  color: #7ebfba;
}

aside ul li:hover svg {
  fill: #ea7f11;
}
aside ul li.active-link:hover p {
  color: #fff;
}
aside ul li.active-link:hover svg {
  fill: #fff;
}
.cust-mt{
  margin-top: 58px;
}
.success-arrow{
  height: 75px;
}
.otp-verification{
  display:none;
}
.date-input{
  background-image: url('../images/icons/calender.svg');
  background-repeat: no-repeat;
  background-position: 98% center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.note span{
  color: #EF9857;
}
.cursor-pointer{
  cursor: pointer;
}
a:hover{
  text-decoration: none;
}

#dashboard-page .card, .card.card-box{
  padding: 0px;
}
#dashboard-page .card-header,
.card-box .card-header{
  border-bottom: 1px solid #F5F6FA;
}
#dashboard-page .card h5,
.card-box h5{
  margin: 5px 15px;
  position: relative;
}
#dashboard-page .card h5:after,
.card-box h5:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -18px;
  height: 3px;
  width: 50px;
}
#dashboard-page .card .card-header h5,
.card-box .card-header h5{margin: 5px;}
#dashboard-page .card-footer,
.card-box .card-footer{
  padding-top: 0px;
}
.topics.card h5:after{
  background-color: #6868E4;
}
.topics .progress-bar{
  border-color: #6868E4;
}
.practice.card h5:after{
  background-color:#7EBFBA;
}
.practice .progress-bar{
  border-color: #7EBFBA;
}
/* also change this */
.tests.card .card-header h5:after{
  background-color:#EF9857;
}
.tests .progress-bar{
  border-color: #EF9857;
}

.progress {
  width: 100px;
  height: 100px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}


.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 8px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
.progress-value .h3{
  margin-bottom: 0px;
}
.progress-control{margin-top: 15px;min-width: 140px;}
.progress-linear{
  display: flex;
  width: 100%;
  height: 4px;
  overflow: hidden;
  background-color: #e9ecef;
  border-radius: 5px;

}
.progress-linear::after{content: none;}
.progress-linear .progress-linear-bar{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
  border-radius: 5px;
}
.journey{
  background-image: url('../images/journey.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.journey *{
  color: #fff;
}
.journey .card-header{
  background-color: transparent;
}
.journey.card h5:after{
  background-color:#fff;
}
.watch-btn{
  height: 40px;
  border-radius: 11px;
  background: rgba(255,255,255,.2);
}
.active-tab{
  color: #6868E4;
}
.active-tab:after{
  background-color:#6868E4;
}
#dashboard-page .topic h5{
  margin: 0px;
}
.tabs h5{
  cursor: pointer;
}
.badge{
  padding: 5px 25px;
  font-size: 14px;
  border-radius: 10px;
  transition: all .2s;
  cursor: pointer;
  min-width: 140px;
}
.badge-weak{
  background: rgba(255,187,184,.2);
  color: #E07A7A;
  position: relative;
}
.badge-weak span{color: #E07A7A;}
.badge-sub{opacity: 0;display: none;}
.badge:hover .badge-main{opacity: 0;display: none;}
.badge:hover .badge-sub{opacity: 1;display: inline-block;}
.badge-strong{
  background: rgba(126,191,186,.2);
  color: #7EBFBA;
}
.badge-strong span{color: #7EBFBA;}
.badge-avarage{
  background: rgba(239,152,87,.2);
  color: #EF9857;
}
.badge-avarage span{color: #EF9857;}
.d-flex{
  align-items:flex-start;
  align-content:flex-start;
}
.topic-status{
  color: #7EBFBA;
  font-size: 14px;
}
.icon-group{
  width: 270px;
}
.icon-group .progress{
  height: 52px;
  width:52px;
}
.icon-group .progress .progress-bar{
  border-width: 2px;
}
.icon-group .progress::after {
  border-width:2px;
}
.progress-value img{
  height:25px;
  max-width: 25px;
}
.progress-control-text{display: none;font-family: NunitoSans-Bold;}
.progress.video .progress-control-text{color: #e07a7a;}
.progress.test .progress-control-text{color: #7EBFBA;}
.progress.class .progress-control-text{color: #6868E4;}
.progress:hover .progress-control .progress-control-img{display: none;}
.progress:hover .progress-control .progress-control-text{display: inline-block;}
.video .progress-bar{
  border-color: #E07A7A;
}
.progress-details{position: absolute; width: 130px; top: 52px; right: 139px; font-size: 12px; font-family: NunitoSans-Bold;display: none;}
.progress-list.video:hover .progress-details{display: inline-block;right: 90px;}
.progress-list.test:hover .progress-details{display: inline-block;right: 12px;}
.progress-list.class:hover .progress-details{display: inline-block;right: -12px;}
.progress-list.video .progress-details{color: #E07A7A;}
.progress-list.test .progress-details{color: #7EBFBA;}
.progress-list.class .progress-details{color: #6868E4;}
.test .progress-bar{
  border-color: #7EBFBA;
}
.class .progress-bar{
  border-color: #6868E4;
}
hr{
  border-color: #F5F6FA;
  margin:20px 0;
  width: 95%;
  margin-left: 5%;
}
.inactive{
  opacity: .1;
}
.topic-block::before{
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  background-image: url(../images/icons/state.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  top: 38%;
  left: 25px;
}
.completed-state:before{
  background-image: url(../images/icons/completed-state.svg);
}
.ongoing-state:before{
  height: 25px;
  width: 25px;
  left: 20px;
  background-size: 25px;
  background-image: url(../images/icons/ongoing-state.svg);
}
.line{
  position: absolute;
  left: 32px;
  top:30px;
  width: 1px;
  height:calc(100% - 50px);
  background-color: #f5f5f5;
}
.course-wrap{
  max-height: 500px;
  overflow: auto;
}
.tabs span{
  margin-left: 20px;
  font-size: 14px;
}
.target{
  background-color: #242644;
}
.target *{
  color: #fff;
}
#dashboard-page .target h5{
  margin: 0px;
  margin-bottom: 10px;
}
#dashboard-page .resourse-block h5,#dashboard-page .class-block h5{
  margin: 0px;
}
.resourse-block img{
  height:60px;
  margin: 0 25px;
}
#dashboard-page .class-block h5:after{
  display: none;
}
.class-schedule *{
  color: #E07A7A;
}
.steps{
  position: relative;
  width:250px;
  margin: 0 auto;
}
.steps ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.steps ul li{
  width: 30px;
  height: 30px;
  border: 1px solid #BABABA;
  border-radius: 50%;
  text-align: center;
  margin: 0 15px;
  z-index: 1;
  background: #fff;
}
.steps ul li p{
  line-height: 30px;
  color: #BABABA;
}
.stepLine{
  position: absolute;
  top: 15px;
  left: 30px;
  height: 1px;
  width: calc(100% - 60px);
  background-color: #E1E1E1;
  z-index: 0;
}
.steps ul li.completedStep{
  background: url("../images/icons/tick.svg") no-repeat scroll center center #7EBFBA;
  border:none;
}
.steps ul li.completedStep p{color: transparent;}

.form-group label,.iti{display: block !important;}
.addTestBtn{
  border:1.5px solid #4d4e50;
  line-height: 30px;
  margin:25px 0;
}
.paymnet-details *{color: #606060;}
.paymnet-details{padding: 30px 0px;}
.navbar{padding: 0px;}
.test-tab .tab-title{
  padding: 20px 30px;border-radius: 20px;margin-right: 20px;background: #fff;min-height: 82px;
  margin-bottom: 10px;
}
.test-tab .tab-title.active.active-bg-blue,
.bg-blue{
  background: linear-gradient(to bottom, #8E8FEE, #6868E4);
}
.test-tab .tab-title.active.active-bg-red,
.bg-red{
  background: linear-gradient(to bottom,#ffbbb8,#e07a7a);
}
.test-tab .tab-title.active.active-bg-green,
.bg-green{
  background: linear-gradient(to bottom,#c5e6e0,#7ebfba);
}
.test-tab .tab-title.active.active-bg-orange, .bg-orange{
  background: linear-gradient(to bottom,#f5d494,#ef9857);
}
.tab-title.active *{color: #fff;}
.tab-title-main h5{    margin-top: 9px;}
.text-slow , h6.text-slow{
  opacity: 0.5;
  font-size: 14px;
}
.active-bg-blue .progress-linear{
  background-color: #6868e433;
}
.active-bg-blue .progress-linear .progress-linear-bar{
  background: #6868E4;
}
.active.active-bg-blue .progress-linear,
.active.active-bg-red .progress-linear,
.active.active-bg-green .progress-linear,
.active.active-bg-orange .progress-linear{
  background-color: #ffffff33;
}
.active.active-bg-blue .progress-linear .progress-linear-bar, 
.active.active-bg-red .progress-linear .progress-linear-bar,
.active.active-bg-green .progress-linear .progress-linear-bar,
.active.active-bg-orange .progress-linear .progress-linear-bar{
  background: #fff;
}

.active-bg-red .progress-linear{
  background-color: #e07a7a33;
}
.active-bg-red .progress-linear .progress-linear-bar{
  background: #E07A7A;
}

.active-bg-green .progress-linear{
  background-color: #7ebfba33;
}
.active-bg-green .progress-linear .progress-linear-bar{
  background: #7EBFBA;
}

.active-bg-orange .progress-linear{
  background-color: #ef985733;
}
.active-bg-orange .progress-linear .progress-linear-bar{
  background: #EF9857;
}
.icon-card{
  padding: 25px 10px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.04);
}
.card-score{
  color: #6868E4;
  margin-bottom: 10px;
  font-family: NunitoSans-ExtraBold;
}
.card-text{
  color: #261718;
  opacity: 0.5;
  font-size: 14px;
  padding: 0 35px;
}
.card-score .card-sub-score{
  color: #6868e4;
  font-size: 18px;
}
.test-sub-details{
  font-size: 14px;
  color: #828282;
  margin-left: 5px;
}

.bg-blue .card-footer,
.bg-blue .card-header{
  background-color: transparent;
}
.bg-blue .card-header{
  border-bottom: 1.5px solid rgba(245, 246, 250, .3);
}
.card-score{
  padding: 10px 0px;
}
.card-score *{
  color: #fff;
}
.card.card-score h5{position: relative;}
.card.card-score h5:after{
  background-color: #fff;
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;
  height: 3px;
  width: 50px;}
.card-score .progress::after{
  border: 8px solid rgba(245, 246, 250, .5);
}
.text-blue{
  color: #6868E4;
}
.text-orange{
  color: #EF9857;
}
.text-green{
  color: #7EBFBA;
}
.text-red{
  color:#E07A7A;
}
.journey-section th{
  border-top: none;
}
.card-box .card-body{
  padding: 12px 20px;
}
.journey-section p{
  font-size: 14px;
}
.journey-section td p{
  font-family: NunitoSans-SemiBold;
}
.journey-section td a{
  text-decoration: underline;
  text-decoration-color: #261718;
}
.journey-section th:nth-child(2) p,
.journey-section td:nth-child(2) p{
  color: #7EBFBA;
}
.journey-section th:nth-child(3) p,
.journey-section td:nth-child(3) p{
  color: #E07A7A;
}
.journey-section th:nth-child(4) p,
.journey-section td:nth-child(4) p{
  color: #EF9857;
}
.journey-section th:nth-child(5) p,
.journey-section td:nth-child(5) p{
  color: #828282;
}
.journey-section th:nth-child(6) p,
.journey-section td:nth-child(6) p{
  color: #6868E4;
}
.journey-section.table thead th{
  border-color:#F5F6FA;
}

/* Journey-details */
.test-details-tab .tab-title{
  min-height: auto;
  padding: 25px 55px;
}
.question-filter{
  border-bottom: none;
  background-color: transparent;
  color: #828282;
}
.question-filter:focus{
  background-color: transparent;
}
.no-padding{
  padding: 0px;
}
.topic-details-list .h5{
  margin: 0px;
}
.topic-details-list{
  padding: 10px 5px;
  border-bottom: 1px solid #F5F6FA;
}
.topic-details-list:last-child{
  border-bottom: 1px solid transparent;
}
/* table css for journey */
.tab-title{
  cursor: pointer;
}
.table-jouney-details{
  background: #FFFFFF;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.04);
  margin-bottom: 0px;

}
.table-jouney-details th{
  border-top: none;
  padding: 20px 12px;
  
}
.table-jouney-details th p{
  color: #828282;
  font-family: NunitoSans-Bold;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: #f5f6fa80;
}
.table-jouney-details thead th{
  border-bottom: 1px solid #2022241a;
}
.table-bordered.table-jouney-details th:first-child,
.table-bordered.table-jouney-details td:first-child{
  border-left: none;
}
.table-bordered.table-jouney-details th:last-child,
.table-bordered.table-jouney-details td:last-child{
  border-right: none;
  text-align: left;
}
.table-bordered.table-jouney-details tr:last-child td{
  border-bottom: none;
}
.table-bordered.table-jouney-details tr td p{
  color: #202224;
}
.table-jouney-details p{
  font-size: 12px;
  font-family: NunitoSans-SemiBold;
}
.table-bordered.table-jouney-details tr td:first-child a{
  text-decoration: underline;
    text-decoration-color: #261718;
}
.table-jouney-details tr td:last-child{
  text-transform: capitalize;
}
/* journey-questioner */
.card-question{
  padding: 20px;
  border-radius: 14px;
}
.video-box{
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}
.video-box img{
  display: block;
  width: 100%;
}
.video-box:after{
  content: '';
  background: #0000008c;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.video-play{
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.question-choice .checkbox-container{
  background: #fff;
  border: none;
}
.question-choice .checkbox-container.checkbox-wrap{
  padding: 25px 22px;
  border-radius: 14px;
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.04);
}
.check-title{
  margin-left: 30px;
}
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1.2px solid #6868E4;
  border-radius: 50%;
}
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container .radiomark {
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}
.checkbox-wrap input:checked ~ .radiomark:after {
  display: block;
}
.checkbox-wrap .radiomark:after{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
}
.question-choice .checkbox-container.checked *{
  color: #fff;
}
.question-choice .checked-incorrect.checked, 
.question-choice .checkbox-container.checked{
  background: linear-gradient(to left, #ffbbb8 0,#e07a7a 100%);
}
.question-choice .checked-correct.checked{
  background: linear-gradient(to left, #C5E6E0 0,#7EBFBA 100%);
}

.checkbox-wrap.checked-incorrect.checked .radiomark:after,
.checkbox-wrap.checked .radiomark:after{
  background: #E37F7F;
}
.checkbox-wrap.checked-correct.checked .radiomark:after{
  background: #7EBFBA;
}
.checkbox-wrap.checkbox-container.checked .radiomark{
  background: #fff;
}

.checkbox-wrap.checkbox-container.checked-incorrect.checked .radiomark,
.question-choice .checkbox-container.checked .radiomark{
  border-color: #e07a7a;
}
.checkbox-wrap.checkbox-container.checked-correct.checked .radiomark{
  border-color: #7EBFBA;
}
a.btn {
  line-height: 32px;
}
.btn-gradient-blue{
  background: linear-gradient(to right, #8E8FEE 0,#6868E4 100%);
}
.btn-outline-blue{
  border: 1.5px solid #6868E4;
  color: #6868E4;
}
.test-topics{
  padding-top: 10px;
}
.test-topics p{
  padding-left: 10px;
  padding-right: 10px;
}
.question-control img{
  min-height: 30px;
}
/* video popup */
.page-overlay {
  background: rgba(54, 54, 54, 0.8);
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 100%;
  display: none;
}

.card-popup {
  background: #fff;
  padding: 0px;
  border-radius: 10px;
  width: 40%;
  position: fixed;
  height :400px;
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  border: none;
  padding: 15px;
  display: none;
}
.popup-close{
  font-size: 40px;
  line-height: 15px;
  color: #606060;
}
.popup-close:hover,
.popup-close:focus{
  color: #606060;
}
.card-score.text-orange .card-sub-score{
  color: #ef9857;
}
/* practice dashbard */
.quiz-text{
  padding-top: 38px;
}
.quiz-text img{
  height: 40px;
  padding: 0 10px;
}
.quiz-text p{
  color: #fff;
  font-size: 20px;
}
.card-score.journey .card-header{
  border-bottom: 1.5px solid rgba(245,246,250,.3);
}
.text-light-gray{
  color: #828282;
}
.practice-list .topic-details-list{
  padding: 20px 5px;
}
.practice-control{
  /* border: 1px solid #F5F6FA; */
  border: 1.5px solid #F5F6FA;
  padding: 10px 15px;
  border-radius: 50%;
  position: relative;
  transition: all .2s;
}
.practice-control:not(:last-child){
  margin-right: 10px;
}
.practice-control:hover{
  background: #F5F6FA;
}
.hover-detils{
  position: absolute;
  top: 48px;
  right: 0px;
  font-size: 12px;
  font-family: NunitoSans-Bold;
  display: none;
}
.practice-control:hover .hover-detils{
  display: inline-block;
}
.text-quiz{
  width: 44px;
}
.text-quiz .hover-detils{
  min-width: 60px;
  /* right: 10px; */
}